<tr id="<%= spree_dom_id(coupon) %>" data-hook="coupon_row" class="<%= cycle('odd', 'even')%>">
  <td class="align-left"><%= coupon.code %></td>
  <td class="align-left"><%= coupon.used %></td>
</tr>
